*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignora i file di Android Studio e Gradle
.idea/
.gradle/
build/
*/build/
.externalNativeBuild/
.cxx/
out/
captures/
.navigation/
gradle-wrapper.jar
*.ap_
*.aab
*.aar
*.apk
*.log
*.json